pipeline/parent_REST_metadata.json
{
	"name": "parent_REST_metadata",
	"properties": {
		"activities": [
			{
				"name": "ForEach Child Pipeline",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Get pipeline list",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get pipeline list').output.resultSets[0].rows",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Web Execute Pipeline via REST",
							"type": "WebActivity",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"method": "POST",
								"url": {
									"value": "@concat('https://management.azure.com/subscriptions/',pipeline().globalParameters.subscriptionId,'/resourceGroups/',pipeline().globalParameters.resourceGroupName,'/providers/Microsoft.DataFactory/factories/',pipeline().DataFactory,'/pipelines/',item().pipelineName,'/createRun?api-version=2018-06-01')",
									"type": "Expression"
								},
								"body": {
									"message": "Executing child pipeline"
								},
								"authentication": {
									"type": "MSI",
									"resource": "https://management.azure.com"
								}
							}
						}
					]
				}
			},
			{
				"name": "Get pipeline list",
				"type": "Script",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"linkedServiceName": {
					"referenceName": "azSqlPipelineMetadata",
					"type": "LinkedServiceReference"
				},
				"typeProperties": {
					"scripts": [
						{
							"parameters": [
								{
									"name": "applicationName",
									"type": "String",
									"value": "App One",
									"direction": "Input"
								}
							],
							"type": "Query",
							"text": "Select p.pipelineName\n, ap.ExecutionOrder\nFrom fw.applicationpipeline ap\nJoin fw.[application] a\n  On a.applicationId = ap.applicationId\nJoin fw.pipeline p\n  On p.pipelineId = ap.pipelineId\nWhere a.applicationName = @applicationName\nOrder By ap.ExecutionOrder\n"
						}
					],
					"scriptBlockExecutionTimeout": "02:00:00"
				}
			}
		],
		"variables": {
			"pipelineNameArray": {
				"type": "Array",
				"defaultValue": [
					"child1",
					"child2",
					"child3"
				]
			}
		},
		"annotations": [],
		"lastPublishTime": "2025-02-14T18:03:08Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}